:root {
  --primary-color: #087aaf;
  --font-color: #eee;
  --background-color: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Contact Links Styles */
.contact-links__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact-links__list li a {
  color: var(--font-color);
  text-decoration: underline;
}

.contact-links__list li a:hover {
  color: var(--primary-color);
}

/* Header Styles */
header {
  background-color: #1b1b1b;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  header {
    height: 4.5rem;
  }

  header a {
    font-size: 1.5rem;
  }
}

/* Main Content Styles */
main {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
}

section {
  margin: 7rem 0;
}

section h1,
section h2 {
  font-size: 2rem;
  margin-bottom: 4.5rem;
  color: var(--primary-color);
  text-align: center;
}

/* Main Content - Hero Section */
#hero ul {
  justify-content: center;
}

/* Main Content - About Me Section */
#about-me p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

#about-me p:last-of-type {
  margin-bottom: 0;
}

#about-me ul {
  margin-top: 1.5rem;
  justify-content: flex-end;
}

/* Main Content - Projects Section */
#projects p {
  text-align: center;
}

@media (min-width: 768px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}

/* Footer Styles */
footer {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
