# Build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Environment variables
.env*

# Logs
*.log

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor and OS files
.DS_Store
.idea/

# Generate type definitions
next-env.d.ts

# Ignore all .vscode and .husky folder contents
.vscode/*
.husky/*

# But allow specific files in .vscode folder
!.vscode/settings.json
!.vscode/extensions.json

# Typescript build files
*.tsbuildinfo